<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>wellifabio Notícias</title>
</head>

<body>
    <header>
        <h1>wellifabio Notícias</h1>
    </header>
    <main>
        <h2>Notícias</h2>
        <div class="news">
            <% for (let i=0; i < news.length; i++) { %>
                <%id=news[i].id;title=news[i].title;content=news[i].content%>
                    <div class="card">
                        <h3>
                            <%=title%>
                        </h3>
                        <p>
                            <%=content%>

                        </p>
                        <form action="/<%=id%>?_method=DELETE" method="POST">
                            <button type="reset" onclick="alterar('<%=id%>','<%=title%>','<%=content%>')">Alterar</button>
                            <button type="submit">Deletar</button>
                        </form>
                    </div>
                    <% } %>
        </div>
    </main>
    <footer>
        <h2>By Wellington</h2>
        <button onclick="cadastro.classList.remove('oculto')">Nova notícia</button>
    </footer>
    <div id="cadastro" class="modal oculto">
        <div class="janela">
            <h2>Adicionar Notícia</h2>
            <form action="/" method="POST">
                <label for="title">Título</label>
                <input type="text" name="title" required>
                <label for="content">Conteúdo</label>
                <textarea name="content" required></textarea>
                <button type="reset" onclick="cadastro.classList.add('oculto')">Cancelar</button>
                <button type="submit">Adicionar</button>
            </form>
        </div>
    </div>
    <div id="alteracao" class="modal oculto">
        <div class="janela">
            <h2>Alterar Notícia</h2>
            <form action="/?_method=PUT" method="POST">
                <input type="hidden" id="id" name="id" required>
                <label for="title">Título</label>
                <input type="text" id="title" name="title" required>
                <label for="content">Conteúdo</label>
                <textarea id="content" name="content" required></textarea>
                <button type="reset" onclick="alteracao.classList.add('oculto')">Cancelar</button>
                <button type="submit">Alterar</button>
            </form>
        </div>
    </div>
</body>
<script>
    function alterar(i, tit, cont) {
        alteracao.classList.remove('oculto');
        id.value = i;
        title.value = tit;
        content.innerHTML = cont;
    }
</script>

</html>